EDRS(派出所)/WebUI/Web References/WebReference/jzfk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://service.jzjk.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://service.jzjk.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>jzfk</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.jzjk.com">
      <xs:element name="updateStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AJBH" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="WSID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateService">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AJBH" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="JZFJNAME" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="JZFJPATH" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="SCBJ" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="WSID" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateServiceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="updateStatusRequest">
    <wsdl:part name="parameters" element="ns:updateStatus" />
  </wsdl:message>
  <wsdl:message name="updateStatusResponse">
    <wsdl:part name="parameters" element="ns:updateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="updateServiceRequest">
    <wsdl:part name="parameters" element="ns:updateService" />
  </wsdl:message>
  <wsdl:message name="updateServiceResponse">
    <wsdl:part name="parameters" element="ns:updateServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="jzfkPortType">
    <wsdl:operation name="updateStatus">
      <wsdl:input wsaw:Action="urn:updateStatus" message="ns:updateStatusRequest" />
      <wsdl:output wsaw:Action="urn:updateStatusResponse" message="ns:updateStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateService">
      <wsdl:input wsaw:Action="urn:updateService" message="ns:updateServiceRequest" />
      <wsdl:output wsaw:Action="urn:updateServiceResponse" message="ns:updateServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="jzfkSoap11Binding" type="ns:jzfkPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateStatus">
      <soap:operation soapAction="urn:updateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateService">
      <soap:operation soapAction="urn:updateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="jzfkSoap12Binding" type="ns:jzfkPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateStatus">
      <soap12:operation soapAction="urn:updateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateService">
      <soap12:operation soapAction="urn:updateService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="jzfkHttpBinding" type="ns:jzfkPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="updateStatus">
      <http:operation location="updateStatus" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateService">
      <http:operation location="updateService" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="jzfk">
    <wsdl:port name="jzfkHttpSoap11Endpoint" binding="ns:jzfkSoap11Binding">
      <soap:address location="http://7.201.125.73:8080/WebService/services/jzfk.jzfkHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="jzfkHttpSoap12Endpoint" binding="ns:jzfkSoap12Binding">
      <soap12:address location="http://7.201.125.73:8080/WebService/services/jzfk.jzfkHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="jzfkHttpEndpoint" binding="ns:jzfkHttpBinding">
      <http:address location="http://7.201.125.73:8080/WebService/services/jzfk.jzfkHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>